body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ####### Custom scroll bar settings ####### */
* {
  scrollbar-width: thin !important;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent !important;
}
*::-webkit-scrollbar {
  width: 0px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

.styled-links {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 0;
  position: relative;
  white-space: nowrap;
  border: none;
  color: inherit;
  text-decoration: none !important;
}
.styled-links::after {
  background-color: #23d997 !important;
  position: absolute;
  bottom: -4px;
  left: 0;
  content: "";
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease 0s;
  width: 60%;
  height: 2px;
}
.styled-links:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}